@media (max-width: 1200px) {
  .main-location {
    position: relative;
    display: block;
    padding-top: 85px;

    aside {

      &.right-sidebar {
        min-height: calc(100vh - 287px);
      }
    }
  }
}