@media (max-width: 1200px) {
  .sign-in {

    .signIn-logo {
      padding-right: 40px;
    }

    .sign-in-form {
      padding-left: 40px;
    }
  }
}

@media (max-width: 900px) {
  .sign-in {
    .wrapper {
      @include flex-wrap;
      @include content-center;
      text-align: center;

      .signIn-logo {
        width: 100%;
        max-width: 450px;
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      }

      .sign-in-form {
        @include content-center;
        width: 100%;
        border-left: none;
        padding: 50px 0 20px;
      }
    }
  }
}