aside {
  padding-bottom: 20px;
  background-color: white;

  .title {
        @include flex;
        @include align-center;
        padding: 0 30px;
        height: 90px;

      a {
        @include flex;
        @include align-center;
        color: $color-primary;
        font-family: $font-bold;
        transition: $transition-sm;
        font-size: $font-size-lg;

        &:hover {
          color: lighten($color-primary, 20%);
        }

        i {
          margin-right:15px;
          font-weight: 900;
          font-size: 24px;
        }
      }
    }

    &.left-sidebar {
      width: 210px;

      &.aside-nav {
        min-height: 1000px;
      }
    }

    &.right-sidebar {
      width: calc(100% - 230px);
    }

    &.aside-nav {
      @include bg-img-props(bottom);
      min-height: calc(100vh - 250px);

      .nav-link {

        li {

          a {
            display: block;
            padding: 20px 30px;
            color: rgba(42, 42, 42, 0.8);
            transition: $transition-sm;

            &.active {
              background: #def2ff;
              color: $color-blue;
            }

            &:hover {
              background: rgba(#def2ff, 0.8);
              color: $color-blue;
            }
          }
        }
      }
    }

  }

