/*General*/
.media, .bot, .paid, .free{
	padding: 70px 0;
}

/*Header*/
header{
	background: #fbfbfb;
}
header .navbar-nav .nav-item{
    text-transform: uppercase;
    color: #494949;
    font-size: 16px;
    font-weight: 500;
}
 header .navbar-nav .nav-item.signin{
	margin: 0 40px;
}
.dropdown-toggle{
	background: none !important;
    color: rgba(0,0,0,.5) !important;
    border: none !important;
	box-shadow: none !important;
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.dropdown-menu{
	min-width: 4rem;
}
.dropdown-menu .dropdown-item{
	cursor: pointer;
}

/*Hero*/
.herodash{
	background: #fbfbfb;
}
.herodash>.container{
	padding: 50px 15px;
}
.herodash .header-title h2{
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 20px;
}
.herodash .header-title p{
	font-size: 16px;
	color: #4a4a4a;
	line-height: 1.799;
	margin-bottom: 30px;
	font-weight: 300;
}
.herodash .header-title .btn{
    color: #fff;
	font-size: 9px;
    padding: 5px;
}
.herodash .header-title .btn i{
    margin-right: 10px;
}
.herodash .header-title .btn.fb{
	margin-right: 10px;
    background: #3b5999;
	border: none;
}
.herodash .header-title .btn.tw{
    background: #44cdf7;
	border: none;
}
.styles .version{
	font-size: 18px;
	color: #4a4a4a;
	margin-bottom: 10px;
	font-weight: 300;
}
.styles .versions span{
	padding: 0 15px;
    cursor: pointer;
    color: #b7b7b7;
    line-height: 1.3;
}
.styles .versions .dark{
	border-right: 1px solid #676767;
}
.styles .versions .active, .styles .versions span:hover{
	color: #676767;
}

/*Media*/
.media .heading{
	margin-bottom: 50px;
}
.media .heading h2{
	margin-bottom: 30px;
}
.media .graphic img{
	max-width: 260px;
}
.media .graphic h3{
	font-weight: 300;
}
.media .graphic h3.bold{
	font-weight: 400;
}

/*Bot*/


/*Paid*/
.paid{
	background: #f3f4f5;
}
.paid h2{
	margin-bottom: 20px;
}
.paid .cont-info-text{
	max-width: 580px;
}
.paid .bg-image{
	margin-top: 20px;
}
.paid-steps{
	margin-top: 20px;
	flex-wrap: wrap;
}
.paid-steps .step{
	width: 100%;
	text-align: center;
}
.paid-steps .step p{
	font-size: 14px;
	color: #505050;
}
.paid-steps .dots{
	font-size: 52px;
    line-height: 0;
    font-weight: 600;
    padding: 0 10px;
    letter-spacing: 4px;
    color: #d6d8da;
	
    line-height: 1.4;
    padding: 0px 10px 40px;
    width: 100%;
    text-align: center;
    transform: rotate(90deg);
}

/*Free*/
.free .system h3{
	font-weight: 300;
    margin-bottom: 40px;
}
.free .systems{
	max-width: 200px;
    margin: auto;
}
.free .systems img{
	width: 30px;
}
.free .heading h2{
	font-weight: 400;
    margin: 20px auto 60px;
}
.free .sign{
	max-width: 300px;
    margin: auto;
}
.free .sign .btn{
	text-transform: uppercase;
	border: 0;
}
.free.darkstyle{
	background: none;
	background-image: url(../images/landing/Rectangle%201%20copy%205.png);
	background-size: cover;
}
.free.darkstyle>.container{
	z-index: 1;
}
.free.darkstyle .header-title, .free.darkstyle .heading p, .free.darkstyle .heading h2{
	color: #ffffff;
}
.free.darkstyle .quic-btn, header.darkstyle .quic-btn{
	background: #181a1e !important;
    color: #ffffff;
}
footer.darkstyle{
	background: #181a1e;
}
footer.darkstyle .nav-link, footer.darkstyle .nav-item, footer.darkstyle .systems, header.darkstyle .dropdown-toggle, header.darkstyle .nav-link, .herodash.darkstyle .cont-info-text{
	color: #ffffff !important;
}
header.darkstyle{
	background: #191c1f;
}
.herodash.darkstyle{
	background: none;
	background-image: url(../images/landing/Layer%201.png);
	background-size: cover;
}
.herodash.darkstyle .version{
	color: #b7b7b7 !important;
}





@media (max-width: 991px){
	.dashboard .navbar-brand{
		margin: 0 auto 20px;
		width: 100%;
		text-align: center;
	}
	.dashboard .navbar-collapse{
		display: flex;
		justify-content: space-between !important;
	}
	.dashboard .dropdown-menu{
		position: absolute;
	}
	.dashboard .navbar-nav.quic-navbar{
		flex-direction: unset;
    	padding: 0;
	}
	.dashboard .navbar-nav.quic-navbar .signin{
		margin: 0;
	}
}

@media (min-width: 576px){
	.herodash .header-title{
		margin-top: 130px;
	}
	.herodash .header-title h2{
		font-size: 48px;
	}
	.herodash .header-title p{
		font-size: 20px;
	}
	.herodash .header-title .btn{
		font-size: 17px;
		padding: 6px 12px;
	}
}

@media (min-width: 768px){
	.paid-steps{
		flex-wrap: nowrap;
	}
	.paid-steps .step{
		width: 110px;
	}
	.paid-steps .dots{
		line-height: 0;
		padding: 0 10px;
		width: auto;
		transform: rotate(0);
	}
}

@media (min-width: 992px){
	.paid .bg-image{
		margin-top: -50px;
	}
	.paid-steps{
		margin-top: -60px;
	}
}














