@font-face{font-family:'HelveticaNeue-Light';font-style:normal;src:url('../fonts/HelveticaNeue-Light'),
url('../fonts/HelveticaNeue-Light') format('woff2'),
url('../fonts/HelveticaNeue-Light') format('woff'),
url('../fonts/HelveticaNeue-Light') format('ttf'),
url('../fonts/HelveticaNeue-Light') format('eot'),
url("../fonts/HelveticaNeue-Light");}
@font-face{font-family:'HelveticaNeue';font-style:normal;src:url('../fonts/HelveticNeue'),
url('../fonts/HelveticNeue') format('woff2'),
url('../fonts/HelveticNeue') format('woff'),
url('../fonts/HelveticNeue') format('ttf'),
url('../fonts/HelveticNeue') format('eot'),
url("../fonts/HelveticNeue");}
@font-face{font-family:'HelveticaLt';font-style:normal;src:url('../fonts/HelveticNeue'),
url('../fonts/HelveticLt') format('woff2'),
url('../fonts/HelveticLt') format('woff'),
url('../fonts/HelveticLt') format('ttf'),
url('../fonts/HelveticLt') format('eot'),
url("../fonts/HelveticLt");}
.search-icon{display:none;}
a,a:hover{text-decoration:none;}
.nav-link.active.show{border-bottom:2px solid #13a89e !important;}
body{font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;background:#141516;color:white;}
header{background:#0f0f10;padding:15px 0;}
.logo-link{display:inline-block;margin-left:11%;}
.header-logo{width:30px;height:30px;}
.inb{margin-left:12%;font-size:18px;color:#a6a6a6;}
.inb:hover{color:#13a89e;}
.account-setting{display:inline-block;}
.account-setting-list{width:130px;height:140px;background:#252526;border:1px solid #3e3e3f;top:26% !important;left:-76% !important;border-radius:0;}
.account-setting-list>a{color:#d3d3d4;font-size:15px;}
.account-setting-list>a:hover{color:#13a89e;background:#252526;}
#account-manage:focus{box-shadow:none;}
.form-control.search-input, .form-control.search-input:visited:active, .form-control.search-input:focus{border:none;border-radius:0;background:#0f0f10;border-bottom:1px solid #3e3e3f;width:340px;color:#7c7c7c;font-family:'HelveticaNeue Light', sans-serif;font-size:15px;margin:0 auto;background:url("../images/icons/search-icon.png") no-repeat 0 10px;padding-left:20px;}
.nav.header-list{margin-right:26px;}
.header-list > .nav-item{font-size:21px;margin-left:50px;cursor:pointer;color:#e8e8e9;}
.nav-item:first-child{margin-left:0;}
.nav-list,
.nav-list>.nav-item>a{border:none;}
.nav-list>.nav-item{outline:none;}
.nav-list > .nav-item:hover{color:#13a89e;}
.up-down-icons{padding-top:7px;float:right;}
.up-down-icons>img{cursor:pointer;}
.content{background:#151617;height:auto;}
.home-main{margin:0 40px;}
.major-menu-row{margin-bottom:40px;margin-top:30px;}
.site-navigation{border-bottom:1px solid #3e3e3f;max-height:105px;}
a.nav-link{color:#a7a7a7;font-size:22px;padding:5px 3px 9px 3px;margin:3px 50px 0 0;border-bottom:2px solid #151617;}
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:active,
a.nav-link:hover,
a.nav-link:active{color:#e4e4e4;border-bottom:2px solid #13a89e !important;}
.nav-tabs .nav-link.active{background:#151617;}
.nav-list>.nav-item>a{border-bottom:2px solid #151617;}
.figure{margin-bottom:35px;}
.figure-media-body{margin-bottom:-7px;}
.media-body > h5,
.media-body>h5>a{color:#e0e0e0;font-size:18px;margin:0;line-height:15px;}
.media-body>h5>a:hover{color:#13a89e;}
#dropdownIcon:focus,
.btn:focus,
.form-control:focus{box-shadow:none;}
.media-body>.dropdown{display:inline;float:right;top:-23px;left:13px;}
.drop{margin:7px 0 0 -133px;;border-radius:0;background:#252526;height:auto;width:150px;border:1px solid #3e3e3f;}
.drop > a{color:#b6b6b7;}
.drop > a:hover{color:#13a89e;background:#252526;}
.publication-time{font-size:12px;color:#13817a;line-height:25px;}
.card{border-radius:0;border:none;}
.card-img{border-radius:0;}
.card-img-overlay{padding:13px;}
.card-img-overlay > h5,
.card-img-overlay > p{font-size:16px;margin:0;line-height:22px;color:#ffffff;}
.card-img-overlay i{font-size:23px;color:#ffffff;}
.hashtag{font-size:16px;color:#13a89e;}
.img-fluid{width:100%;margin-bottom:0;}
.card-img-overlay{padding-top:11px;}
.google-plus-icon{padding-top:8px;}
.figure-caption{padding:11px 0;border:1px solid #212122;border-top:none;border-bottom-left-radius:2px;border-bottom-right-radius:2px;}
.info-icons{margin-left:16px;}
.info-icons > li{margin-right:30px;color:#d3d3d3;font-size:18px;}
.info-icons > li > i{cursor:pointer;}
.info-icons > li >a> span{margin-left:10px;font-size:16px;color:#ffffff;}
.info-icons>li>a>img:hover+span,
.info-icons>li>a>span:hover{color:#13948c;}
.live-btn-pic{width:50px;height:25px;background-color:#df0b0b;margin-top:4px;}
.live-btn-pic>a{font-size:14px;color:#ffffff;}
.sent-main{background:#141516;}
.back-arrow{margin-top:55px;}
.share-content-header{font-size:16px;color:#bababa;border:1px solid #212122;padding:10px 19px 12px;margin:2.6% 0 3.14%;;}
.share-content-header>h5{margin-bottom:12px;}
.share-content-header>ul{width:100%;margin:0;padding:0;}
.share-content-header>ul>li{list-style-type:none;display:inline;margin-right:4px;cursor:pointer;}
.share-content-header>ul>li:nth-child(2){margin-right:18px;}
.share-block-body{border:1px solid #212122;}
.share-block-body>.figure-media-body{margin:16px 35px 0 20px;}
.share-media-body>.share-soc-icon{float:right;}
.description{margin:-17px 0 8px 0;}
.description>p{font-size:16px;color:#c4c4c5;line-height:24px;margin:16px 40px 0 20px;}
.description>span{margin-left:20px;}
.figure.share-figure{display:block;margin-bottom:2px;}
.figure-caption.footer-figure{border:none;padding-right:7px;}
.share-nav-list{display:inline-block;width:80%;}
.share-nav-list>li{float:left;cursor:pointer;}
.share-cancle-block{margin-top:38px;margin-bottom:40px;}
.share-cancle-block>a > .cancle-icon{margin-right:18px;}
.share-cancle-block> .cancle-link{font-size:14px;color:#d3d3d3;border:1px solid #1d1d1e;padding:9px 33px;}
.share-cancle-block> .cancle-link:hover{background:#13948c;}
.setting-main-block{margin:0 2%;}
.social-net-tabs-content{background:#0f0f10;padding:0 4.5%;}
.social-net-block{font-family:"Helvetica",sans-serif;border:1px solid #1d1d1e;border-radius:5px;padding:27px 10px 10px 10px;margin:0 0 18% 0;min-height:225px;height:200px;position:relative;}
.social-net-caption{margin:25px 0 12px;}
.social-net-caption>h3{line-height:13px;font-size:18px;color:#c3c3c3;}
.social-net-caption>p,
.social-net-caption>span>a{font-size:13px;color:#5c6268;line-height:20px;}
.social-net-caption>span>a:hover{color:#138d85;}
.soc-add-btn{border:1px solid #1d1d1e;border-radius:1px;background:#141516;width:86px;height:30px;position:absolute;bottom:15px;left:calc(50% - 43px);cursor:pointer;}
a,.social-net-block>a{color:#989899;font-size:14px;}
.soc-delete{position:absolute;bottom:15px;width:46px;left:calc(50% - 23px);}
a:hover,.social-net-block>a:hover{color:#989899;}
.soc-add-btn:hover{background:#138d85;color:#eff8f8;cursor:pointer;}
.form-control.request, .form-control.request:visited:active, .form-control.request:focus{width:100%;color:#7c7c7c;font-size:15px;margin:0 auto;background:none;}
.soc-request>.social-net-caption{margin:5% 0 -2% 0;padding:0;}
.soc-request>.social-net-caption>h3{line-height:20px;}
.soc-request>.social-net-caption>p{margin-bottom:7%;}
.social-net-block.soc-request{padding:8% 3%;}
.soc-request>.social-net-caption>form{width:75%;margin:0 auto;}
.sett-send-lastblock{position:absolute;width:34px;left:calc(50% - 17px);bottom:15px;}
.bot-header{border-bottom:1px solid #3e3e3f;}
.bot-reccom-form{display:inline-block;padding-bottom:12px;margin-left:13px;}
.bot-reccom-form>img{margin-right:26px;}
.topic{border:none;background:#141516;width:240px;color:#7c7c7c;font-family:'HelveticaNeue Light', sans-serif;font-size:16px;margin-right:66px;padding-right:9px;}
.topic:focus{outline:none;}
.bot-reccom-form>button{font-size:14px;color:#ffffff;background:#00918e;border:none;padding:5px 12px;cursor:pointer;}
.bot-header>.up-down-icons{padding-top:0;}
.figure.bot-figure{margin-bottom:20%;}
.media-body.bot-media-body{margin-bottom:-4px;}
.btn.bot-sett-btn{padding-top:2px;}
.nav.info-icons.info-money-icons{margin-left:13px;margin-right:13px;}
.nav.info-icons.info-money-icons>li{margin-right:2%;}
.nav.info-icons.info-money-icons>li>span{margin-left:75px;font-size:14px;}
.nav.info-icons.info-money-icons>li>a>span{font-size:14px;}
.nav.info-icons.info-money-icons>li:last-child{margin-right:0;margin-left:auto;color:#138d85;}
.sent-public{background:#f9f9f9;}
.public-share-cont,
.public-share-body{border:1px solid #d4d4d4;}
.public-media-body>h5{color:#232425;}
.public-fig>p{color:#141516;}
.public-share-cont>h5{color:#424343;}
.public-feed-nav>li>a>span{color:#4d4e4f;}
#menuBtn{display:block;float:right;font-size:30px;cursor:pointer;color:#b5b5b5;background:none;border:none;}
#menuBtn:focus{outline:none;}
#myModal{position:fixed;top:0;left:0;background-color:#141516;width:100%;height:100%;margin:0;padding:0;opacity:0.9;z-index:9999;}
.modal-content{background:none;border:none;}
.head-nav-mobile>ul{list-style-type:none;}
.head-nav-mobile>ul>li{margin-bottom:3%;}
.head-nav-mobile>ul>li>a{font-size:50px;}
.head-nav-mobile>ul>li>a:hover{color:#138d85;}
#closeBtn{display:block;float:right;font-size:30px;cursor:pointer;color:#ffffff;background:none;border:none;margin:13% 6%;}
.modal-content>.close:focus{outline:none;}
button.close{cursor:none;}
.add-section{padding:15px;text-align:center;background-color:#232425;margin-bottom:15px;}
.live-background-img{margin-right:-15px;margin-left:-15px;}
.back{width:100%;height:100vh;position:relative;}
.livestream-main .footer-right img{height:45px;}
.livestream-main .footer-left{padding-left:25px;width:100px;}
.livestream-main .comment-list{list-style:none;}
.comment-block{display:none;background:#252526;position:absolute;right:0;top:0;height:100vh;}
.comment-block-content{padding:37px 28px 0;height:82vh;}
.comment-header{border-bottom:1px solid #303031;margin-bottom:18px;padding-bottom:27px;}
.stream-info-icon{list-style-type:none;margin-bottom:43px;}
.comment-list{padding:0;}
.comment-list > li{margin-bottom:27px;}
.comment-list > li h5{color:#128079;font-size:16px;}
.comment-list > li span{color:#cdd4db;font-size:14px;}
.comm-block-form{border-top:1px solid #2d2d2e;background:#1a1a1b;margin:0;display:table;width:100%;position:relative;}
.comm-block-form textarea{resize:none;}
.comm-block-form .submit{position:absolute;bottom:15px;right:20px;}
.form-control.comment-inp{background-image:none;border-bottom:none;}
.comm-block-form input[type="image"]:focus{outline:none;}
.comm-block-form .form-group{margin-bottom:0;}
.livestr-ul > li:first-child{width:114px;height:40px;line-height:40px;background:#df0b0b;border-radius:2px;margin-right:30px;}
.livestr-ul > li:first-child > img,
.livestr-ul > li:first-child > span{margin-left:16px;}
.livestr-ul > li:nth-child(2){height:40px;line-height:40px;}
.card-img-overlay.livestr-card-overlay{padding:27px;}
.button-item{cursor:pointer;}
.footer-left, .footer-right{position:absolute;bottom:30px;}
.justify-content-start.footer-left{z-index:99999;}
.footer-right > a{margin-left:1%;}
.footer-right > a:nth-child(4){margin-left:2.8%;}
.livestr-sett-modal{background:#141516;padding:1.6% 5% 1% 4%;}
.livestr-sett-modal textarea{border:1px solid #252526;}
.livestr-sett-modal > ul{margin-bottom:2%;}
.livestr-sett-modal .nav-item .nav-link{border-bottom:1px solid #878787 !important;color:#878787;font-size:15px !important;padding-bottom:5px !important;}
.livestr-sett-modal .nav-item .nav-link.active{border-bottom-color:#10756e !important;color:#10756e;}
.modal-form-group h6{color:#ffffff;margin:8px 0;}
.modal-form-group{color:#767e86;font-size:16px;}
.inp-border-style{margin:5px 0;background:no-repeat;border:1px solid #42464b;width:310px;color:#767e86;height:31px;padding:0 2%;}
.inp-border-style:focus{outline:none;}
.modal-form-group h3 > span{color:#10756e;font-size:15px;border-bottom:1px solid #10756e;cursor:default;padding-bottom:5px;text-transform:uppercase;}
.modal-form-group span{color:#ffffff;font-size:18px;cursor:pointer;}
.adv-sett{padding-bottom:15px;font-size:13px;border-bottom:1px solid #282a2c;text-align:right;margin:9px 0;color:#ffffff;}
.tooltip-body .networks span.text-center{height:25px;width:25px;border-radius:50%;color:#ffffff;margin-left:7px;cursor:pointer;}
.tooltip-body .fb-bg{background:#3a559f;}
.tooltip-body .tw-bg{background:#1ea1f3;}
.tooltip-body .ig-bg{background:#c536a4;}
.tooltip-body .pt-bg{background:#cb2027;}
.tooltip-body .gp-bg{background:#dc4e41;}
.social-line-heading label{font-size:15px;}
.social-line{list-style:none;padding:0;display:flex;margin-top:10px;}
.social-line li{margin-right:10px;border-radius:50%;padding:6px 5px;display:flex;justify-content:center;align-items:center;cursor:pointer;background:transparent;border:1px solid #878787;color:#878787;}
.social-line li.active{border-color:transparent;color:#ffffff;}
.social-line li.facebook.active{background:#3b5998;}
.social-line li.google.active{background:#dd4c3b;}
.social-line li.pinterest.active{background:#cb2027;}
.social-line li.twitter.active{background:#1ea1f3;}
.social-line li.instagram.active{background:#d62975;}
.modal-form-group button{background:no-repeat;border:1px solid #42464b;color:#767e86;margin-left:15px;cursor:pointer;padding:3px 10px;font-size:13px;border-radius:3px;}
.modal-form-group button:focus{outline:none;}
.modal-form-group button:hover{border:1px solid #128079;color:#128079;}
.modal-header, .modal-footer{border:none;}
.close.live-str-close{margin-right:-23%;}
.btn.sett-btn-modal-open{background:none;cursor:pointer;}
select option{background:#282a2c;color:#42464b;border:0;box-shadow:0 0 10px 100px #128079 inset;}
select option:hover{box-shadow:0 0 10px 100px #128079 inset !important;background:#128079 !important;}
select option:active{box-shadow:0 0 10px 100px #128079 inset !important;background:#128079 !important;outline:none !important;}
[type="radio"]:checked,
[type="radio"]:not(:checked){position:absolute;left:-9999px;}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{position:relative;padding-left:28px;cursor:pointer;line-height:20px;display:inline-block;color:#666;}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;border:1px solid #42464b;border-radius:100%;background:#282a2c;}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after{content:'';width:10px;height:10px;background:#128079;position:absolute;top:4px;left:4px;border-radius:100%;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;}
[type="radio"]:not(:checked) + label:after{opacity:0;-webkit-transform:scale(0);transform:scale(0);}
[type="radio"]:checked + label:after{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
input[type=radio]:checked{color:#128079;}
input[type="checkbox"]:checked + label::after{content:'';position:absolute;width:1.4ex;height:1.4ex;background:rgba(0, 0, 0, 0);top:0.9ex;left:0.4ex;border:2px solid #128079;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
#schedule-next~label{padding-top:20px;}
#schedule-next~label::before{vertical-align:-10%;border:1px solid #252526;background:transparent;}
#schedule-next~label::after{width:1.1ex;height:1.1ex;top:3ex;left:0.5ex;}
input[type="checkbox"]{line-height:2.1ex;}
input[type="checkbox"]{position:absolute;left:-999em;}
input[type="checkbox"] + label{position:relative;overflow:hidden;cursor:pointer;}
input[type="checkbox"] + label::before{content:"";display:inline-block;vertical-align:-25%;height:2ex;width:2ex;background-color:#282a2c;border:1px solid rgb(166, 166, 166);border-radius:0;margin-right:0.5em;}
.quic-tooltip{position:absolute;top:-130px;left:-130px;min-width:270px;background:#252526;padding:10px 15px;font-size:12px;font-weight:300;text-align:center;border:1px solid #3e3e3f;border-radius:2px;line-height:1.4;display:none;z-index:999;}
.quic-tooltip.top{top:100%;left:auto;right:0;padding:0;min-width:300px;width:400px;background:#0f0f10;cursor:default;}
.quic-tooltip .highlight{font-size:14px;}
.quic-tooltip .highlight>span{color:#0e847c;}
.nav-item{position:relative;}
.tooltip-head, .tooltip-body{padding:15px;border-bottom:1px solid #3e3e3f;}
.tooltip-body{min-height:200px;}
.tooltip-head .post{display:flex;align-items:center;font-size:14px;color:#3e3e3f;cursor:pointer;}
.tooltip-head .post.active{color:#ffffff;}
.tooltip-head .post img{height:15px;margin-right:5px;}
.tooltip-head .text-right{color:#acb3b8;}
.tooltip-footer{padding:10px 15px;}
.tooltip-footer .text-left span{padding:8px;}
.tooltip-footer .text-left{color:#acb3b8;}
.tooltip-footer .icon{padding-left:15px;}
.tooltip-footer .text-left span:hover{background:#3e3e3f;cursor:pointer;}
.date-pd{padding:6px 10px;border:1px solid #3e3e3f;border-radius:3px;margin-left:10px;}
.date-pd:hover{background:#3e3e3f;cursor:pointer;}
.shedule{font-size:14px;}
.update{font-size:14px;margin-left:10px;}
@media (max-width:575px){.major-menu-row.bot-major{margin-bottom:21px;}
.bot-media-body > h5 > a{font-size:18px;}
.bot-reccom-form{text-align:center;margin-top:7px;}
.topic{margin-right:0;}
.bot-reccom-form>button{margin-top:17px;}
.bot-reccom-form>img{margin:0 0 5px 0;}
.bot-figure>.card>.card-img-overlay>h5,
.bot-figure>.card>.card-img-overlay>p{font-size:14px;}
.info-icons > li{margin-right:7%;}
.description>p{font-size:14px;line-height:22px;}
.over-img>p{font-size:14px;}
.nav.header-list{margin-right:-4px;}
.social-net-block.soc-request{padding:8% 7%;}
}
@media (max-width:482px){.search{display:none;}
.home-main{margin:0;}
.search-icon{margin-top:5px;display:inline-block;}
a.nav-link{color:#a7a7a7;font-size:16px;padding:5px 3px 9px 3px;margin:3px 5px 0 0;border-bottom:2px solid #151617;}
}
@media (min-width:482px) and (max-width:767px){.search-icon{margin-top:5px;display:inline-block;}
.search{display:none;}
a.nav-link{color:#a7a7a7;font-size:18px;padding:5px 3px 9px 3px;margin:3px 5px 0 0;border-bottom:2px solid #151617;}
.livestr-sett-modal > ul > li > a{font-size:12px;}
.bot-media-body > h5 > a{font-size:18px;}
.bot-reccom-form{text-align:center;margin-top:7px;}
.topic{margin-right:0;}
.bot-reccom-form>button{margin-top:17px;}
.bot-reccom-form>img{margin:0 0 5px 0;}
.bot-figure>.card>.card-img-overlay>h5,
.bot-figure>.card>.card-img-overlay>p{font-size:14px;}
.form-control{width:250px;}
}
@media (max-width:767px){header{padding-bottom:0;}
.header-main .search{order:2;}
.header-main .account{order:1;margin-bottom:20px;}
.header-main .account ul{width:100%;margin:0;justify-content:space-between;}
.header-main .account ul li{margin:0;}
.header-main .account .account{order:1;}
.header-main .account .notif{order:2;}
.header-main .account .share{order:3;}
.header-main #account-manage{padding:0;}
.header-main .quic-tooltip.top{max-width:90vw;}
.header-main .shedule{display:none;}
.header-main .form-control.search-input{width:100%;}
.header-main .account-setting-list{left:0 !important;}
}
@media (min-width:768px) and (max-width:991px){.share-cancle-block> .cancle-link{font-size:12px;padding:9px 8px;}
.form-control{width:260px;}
.nav.header-list{margin-right:15px;}
.header-list > .nav-item{margin-left:18px;}
.nav-item:first-child{margin-left:0;}
.livestr-sett-modal > ul > li > a{font-size:13px;color:#ffffff;}
}
@media (min-width:992px) and (max-width:1199px){.share-cancle-block> .cancle-link{font-size:12px;padding:9px 8px;}
.livestr-sett-modal > ul > li > a{font-size:14px;color:#ffffff;}
.header-list > .nav-item{margin-left:37px;}
.header-list > .nav-item:first-child{margin-left:0;}
}
@media (min-width:1200px) and (max-width:1399px){.nav.info-icons.info-money-icons>li>span{margin-left:40px;font-size:14px;}
.livestr-sett-modal > ul > li > a{font-size:16px;color:#ffffff;}
}
.differ{height:10px;background:#141516;}
a{color:white;}
a:hover{color:#13a89e;}
.nav-item{border:0;}
.nav-link{border:0 !important;}
.nav-tabs{border-bottom:1px solid #6A6A6B;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color:#141516;color:white;border-bottom:2px solid #13a89e !important;}
.main-color{background-color:#0F0F10;}
.form-control, textarea{border-radius:0;background-color:#0F0F10;color:#6A6A6B;border-bottom:1px solid #6A6A6B;border-top:0;border-left:0;border-right:0;}
.in-middle{margin-top:10px;text-align:right;align-items:center;}
.with-border{border-left:10px solid #141516;}
.chart-header{margin-bottom:15px;margin-top:15px;}
.with-border-min{border-left:1px solid #252526;}
.chart-tabs{font-size:12px;}
.active-chart-tab, .active-chart-length{color:#13a89e;}
.bottom-tabs{font-size:12px;color:#13a89e;}
.main-text{font-size:20px;color:#6A6A6B;}
.active-payment-tab > .main-text{color:white;}
.payment-tab.without-ico{padding-top:15px;padding-bottom:15px;}
.method-tabs{cursor:pointer;font-size:10px;color:#6A6A6B;}
.active-method-tab{color:white;}
.check-button{background-color:#13a89e;border:0;border-radius:15px;}
.footer-sm{padding:0;}
.check-for-tabs{position:absolute;top:-15px;right:-10px;}
.payment-tab{cursor:pointer;border:1px solid #252526;border-radius:5px;text-align:center;padding-bottom:5px;padding-top:5px;}
.heading-text{font-size:16px;}
.overlay-div{width:100%;height:100%;-webkit-transition:opacity 0.4s ease;-o-transition:opacity 0.4s ease;transition:opacity 0.4s ease;position:absolute;top:0;left:0;right:0;bottom:0;z-index:9;background-color:#252526;opacity:0;cursor:pointer;}
.overlay-div:hover{opacity:0.5;}
.card-img-overlay{cursor:pointer;}
.card-image0overlay-hover{}
.bank-label{font-size:12px;}
.setting-mini-div{border:1px solid #6A6A6B;height:110px;}
.setting-mini-div > div > a{width:100%;color:#6A6A6B;}
.plus-icon{float:right;display:none;margin-right:5px;}
.icons-fa{margin-left:5px;display:inline-block;width:15px;}
.nickname{display:inline-block;margin-left:5px;}
.setting-mini-div > div > a:hover{color:white;background-color:#13a89e;}
.setting-mini-div > .row{margin-left:0;margin-right:0;}
.bank-input{height:30px;border:1px solid #252526;}
.bank-input-textarea:focus{background-color:#0F0F10 !important;color:#6A6A6B !important;border-color:#0F0F10 !important;border-bottom:1px solid #13a89e !important;}
.networks.d-flex{margin-top:10px;}
.modal-labels{margin-bottom:0;margin-top:0.5em;}
.with-padding{padding:25px;}
.sum-amount{font-size:12px;color:#6A6A6B;}
.first{margin-left:4%;}
.active-payment-tab{border:1px solid white;}
input:focus{background-color:#0F0F10 !important;color:#6A6A6B !important;border-color:#0F0F10 !important;border-bottom:1px solid #13a89e !important;border-top:0 !important;border-left:0 !important;border-right:0 !important;box-shadow:none !important;}
.avatar-image{margin-left:auto;margin-right:auto;display:block;}
.right-side{padding-top:15px;padding-bottom:15px;padding-right:15px;}
.image-holder{padding-top:30px;padding-bottom:15px;}
.small-text{font-size:10px;}
.small-text-grey{font-size:11px;color:#6A6A6B;}
.quic-button{background-color:#13a89e;cursor:pointer;color:white;border:1px solid #13a89e;padding:5px 15px 5px 15px;font-size:13.5px;}
.cancel-button{margin-right:10px;background-color:#0F0F10;cursor:pointer;color:white;border:1px solid #6A6A6B;padding:5px 15px 5px 15px;font-size:13.5px;}
.datepicker-panel [data-view="week"]{color:#13817a;}