body{
    margin:0;
    padding: 0;
    overflow: hidden;
    background-image: url("../images/back.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 150px;
    height: 400px;
    position: absolute;
    animation: 1s ease-in;
    transition: all ease 1s;
}