body{
    background: #ede6ff;
    margin:0;
    padding: 0;
    background-image: url("../images/bbbb.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}


.cont1{
    margin: 9% 0 0 34%;
}

.cont1 > img {
    width: 400px;
}
 h2 {
    color: white;
    font-size: 32px;
}

.cont2 {
    margin:18% 0 0 10%;
 }
.cont2 >img {
    width: 350px;
}
.cont2 > h2 {
    margin-right: 45%;
    float: right;

}
.cont3 {
    float: right;
    margin: 15% 8% 0 0;
}
.cont3 >img {
    width: 400px;
}
.cont3 > h2 {

    float: left;
    margin-left: -49%;
}
.cont4 {
    margin: 60% 0 0 10%;
}
.cont4 >img {
    width: 800px;
}

.cont5 {
    margin: 45% 0 0 4%;
    display: inline-block;
}
.cont5 >img {
    width: 400px;
}

.cont6 {
    margin: 33% 12% 0 0;
    float: right;
}

.cont6 >img {
    width: 400px;
}

.cont7 {
    margin: 10% 0 0 25%;
}
.cont7 >img {
    width: 400px;
}

.cont8 {
    margin: 10% 0 0 25%;
}
.cont8 >img {
    width: 400px;
}

.cont9 {
    margin: 15% 0 0 60%;
}
.cont9 >img {
    width: 400px;
}

