@font-face {
  font-family: 'QRComm-icons';
  src:  url('fonts/QRComm-icons.eot?9c8xaj');
  src:  url('fonts/QRComm-icons.eot?9c8xaj#iefix') format('embedded-opentype'),
    url('fonts/QRComm-icons.ttf?9c8xaj') format('truetype'),
    url('fonts/QRComm-icons.woff?9c8xaj') format('woff'),
    url('fonts/QRComm-icons.svg?9c8xaj#QRComm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'QRComm-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e904";
}
.icon-add-circular-outlined-button-1:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-pen:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
