$icomoon-font-family: "QRComm-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-menu: "\e904";
$icon-add-circular-outlined-button-1: "\e900";
$icon-check: "\e901";
$icon-pen: "\e902";
$icon-cancel: "\e903";

