.form-group {

  .select2.select2-container {
    @include arrow-down;
    width: 100% !important;
    max-width: 375px;

    .select2-selection {
      width: 100%;
      height: 50px;
      line-height: 49px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $input-border-color;
      padding: 0 5px;
      border-radius: 0;

      &.select2-selection--single .select2-selection__rendered {
        line-height: inherit;
        color: $color-secondary;
        padding-right: 0;
        padding-left: 0;
      }

      &:focus {
        outline: none;
      }

      .select2-selection__arrow {
        display: none;
      }
    }
  }
}

.select2-container--default {
  .select2-results {
    .select2-results__options li {
      &:first-child {
        padding: 0;
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background: $color-primary;
    color: #ffffff;
    font-size: $font-size-base;
    transition: $transition-xs;

    &:hover {
      background: rgba($color-primary, 0.8);
    }
  }
}




